
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #EEE;
}
.header__nav--desktop{
    display: none;
}
.header__button{
    display: none;
}

.hero{
    background: #EEE;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: flex-end;
}
.hero__about{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.hero__title{
    font-size: 36px;
    font-weight: 700;
    padding: 10px;
}
.hero__description{
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: rgba(34, 34, 34, 0.80);
    font-weight: 400;
}
.hero__buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    padding: 30px;
}
.hero__button{
    width: 130px;
    height: 40px;
    flex-shrink: 0;
    font-size: 16px;
    background: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFF;
    border: none;
    border-radius: 6px;
    line-height: 150%;
    font-weight: 500;
    font-family: Fira Sans, sans-serif;
    cursor: pointer;
}
.hero__button--appstore, .hero__button--playstore{
    color: #000;
    width: 20px;

}
.hero__picture{
    padding-top: 30px;
    display: flex;
}

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products__title{
    font-size: 36px;
    font-weight: 700;
    padding: 10px;

}


.products__grid{
    display: grid;
    grid-template-areas: 
    "small small"
    "small small"
    "bigone bigone"
    "bigbot bigbot";
    width: 100%;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;

    padding-bottom: 100px;
}

.item__title{
    font-size: 22px;
    font-weight: 700;
    color: #222;
    text-align: center;
    text-wrap: nowrap;
    flex-shrink: 0;
}

.item__prize{
    font-size: 16px;
    color: rgba(0, 0, 0, 0, 0.80);
    font-weight: 400;
}

.item__picture{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.grid__item--small{
    width: 100%;
    height: 240px;
    background: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    padding: 20px;
}

.grid__item--big{
    width: 100%;
    grid-row: span 2;
    background: #343332;
    height: 212px;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gridtop{
    grid-area: bigone;
}
#gridbottom{
    grid-area: bigbot;
}

.item__title--big{
    color: white;
    font-size: 36px;
    font-weight: 700;
}
.item__description--big{
    color: rgba(255, 255, 255, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}
.item__button{
    width: 145px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #343332;
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-weight: 500;

    border: 1px solid rgba(255, 255, 255, 0.60);
}


.footer{
    height: 550px;
    flex-shrink: 0;
    background-image: url(https://s3-alpha-sig.figma.com/img/d0ab/029e/bd146d9767a5b6d7db2d8305f8b4fca3?Expires=1702857600&Signature=dVLjtTqEwkWvuQkp2vwRDjhxcV7vU37uiwPy1cIU3Av1WliYDwYV23-jK6EgGX4qg0THe3m72g1HmuFh9TzXNP3u6tM0uhy-LRRIvqguUTT-ASM1lDuSVJckNycoFR0ZRkC5wxOQc4sO5dEKeC6dMwq6CpK~76zpJy5Vf7d6JlS2O0HktaND80SCZaf3P4LFRk~zfajHUEcyBspbd05WGjxLnKh6Hr3VpAQjvUbLarOPxQxjOvBHkKWAbSJeDQnJEUysnZq-IHx0Ig6p647ydTpLhSKIHSnpWCVY6DuJ8CsNiN3L4M~1AL5vekqzGgtgFhi2WjczZHlRZ7EfWqItmw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-size: cover;
    padding: 20px;
}

.footer__contact{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    justify-content: space-evenly;
    background-color: #FFF;
    height: 400px;
    padding: 20px;
}

.contact__header{
    font-size: 36px;
    font-weight: 700;
}
.contact__message--span{
    color: rgba(34, 34, 34, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact__message{
    color: rgba(34, 34, 34, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.contact__option{
    display: flex;
    gap: 10px;
}
.option--text{
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}


@media (min-width: 700px){

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        }
        
    }
    .header__nav{
        display: flex;
    }
    .header__nav--desktop{
        display: none;
    }
    .header__nav--desktop--list{
        display: none
    }
    .desktop__item{
        text-decoration: none;
        color: #999;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.204px;
    &:hover{
        color: #222;
        cursor: pointer;
    }
    }
    .header__button{
        display: none;

        
}

@media (min-width: 900px) {

    .header__nav{
        display: none;
    }
    .header__nav--desktop{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__nav--desktop--list{
        display: flex;
        width: 45vw;
        list-style: none;
        justify-content: space-evenly;
    }
    .desktop__item{
        text-decoration: none;
        color: #999;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.204px;
    &:hover{
        color: #222;
        cursor: pointer;
    }
    }
    .header__button{
        display: block;
        height: 40px;
        width: 145px;
        border-radius: 3px;
        border: 1px solid #000;
        background: none;


    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.204px;
        
    }

    .hero__title{
        font-size: 53px;
    }
    .hero__description{
        font-size: 18px;
        width: 45vw;
    }
    .hero__picture--svg{
        width: 100%;
        height: 100%;
    }

    .products__title{
        margin-top: 80px;
        font-size: 53px;
    }
    

    .products__grid{
        display: grid;
        grid-template-areas: 
        "small small small small"
        "bigone bigone bigbot bigbot";
        gap: 20px;
        margin: 40px auto;
    
        padding-bottom: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .grid__item--small{
        width: 100%;
        height: 400px;
    }
    .grid__item--big{
        margin-top: 40px;
        height: 350px;
    }
    .item__picture svg{
        width: 150px;
        height: 150px;

        animation: spin 2s linear infinite;
    
    }

    .footer{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .footer__contact{
        width: 440px;
        height: 400px;
        margin-right: 200px;
    }
}
